<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{{{or site.url siteRootPath}}}">
        <div class="navbar-logo">
        </div>
      </a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item navbar-item-link" target="_blank" href="https://www.opsi.org">opsi.org</a>
        <a class="navbar-item navbar-item-link" target="_blank" href="https://forum.opsi.org">forum.opsi.org</a>
        <a class="navbar-item navbar-item-link" target="_blank" href="https://www.uib.de">uib.de</a>
      </div>
    </div>
  </nav>
  {{#if (and (ne page.componentVersion.prerelease true) page.latest)}}
      {{#if (ne page.latest.version page.componentVersion.displayVersion)}}
        {{#if (eq page.component.name "opsi-docs-en")}}
        <div class="nav-note">
          This is the documentation of an old opsi version. The documentation for the current version {{page.latest.version}} can be found
          <a class="nav-bar-link" href="https://docs.opsi.org?161123">here</a>.
        </div>
        {{else}}
        <div class="nav-note">
          Dies ist die Dokumentation einer alten opsi-Version. Die Dokumentation für die aktuelle Version {{page.latest.version}} finden Sie
          <a class="nav-bar-link" href="https://docs.opsi.org?161123">hier</a>.
        </div>
        {{/if}}
    {{/if}}
    {{else}}
        {{#if (eq page.component.name "opsi-docs-en")}}
        <div class="nav-note">
          This is the documentation of an pre-release opsi version. The documentation for the current version {{page.latest.version}} can be found
          <a class="nav-bar-link" href="https://docs.opsi.org?161123">here</a>.
        </div>
        {{else}}
        <div class="nav-note">
          Dies ist die Dokumentation einer Vorabversion von opsi. Die Dokumentation für die aktuelle Version {{page.latest.version}} finden Sie
          <a class="nav-bar-link" href="https://docs.opsi.org?161123">hier</a>.
        </div>
        {{/if}}
    {{/if}}
</header>


