
<script>
  Handlebars.registerHelper('isOldstable', function (value) {
  return value == "4.2";
});

</script>

<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
    {{#unless page.componentVersion.prerelease}}


    {{#if page.latest}}
      {{#if (ne page.latest page.componentVersion.displayVersion)}}
        <div class="nav-note">
          This is the documentation of an old opsi version. <br> The documentation for the current version 4.3 can be found
          <a class="nav-bar-link" href="https://docs.opsi.org">here</a>.
        </div>
      
      {{/if}}
     {{/if}}
     {{/unless}}
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}"></a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" target="_blank" href="https://www.opsi.org">opsi.org</a>
        <a class="navbar-item" target="_blank" href="https://forum.opsi.org">forum.opsi.org</a>
        <a class="navbar-item" target="_blank" href="https://www.uib.de">uib.de</a>
      </div>
    </div>
    1 {{page.latest}} ##
    1.1 {{page.latest.version}} ##
    2 {{page.version}} ## 
    3 {{page.componentVersion.displayVersion}} ##
    4 {{page.componentVersion.name}} ##
    5 {{page.componentVersion.version}} ##
    6 {{page.component.name}} ##
    7 {{page.component.title}} ##
    8 {{page.component.latest.version}} ##
    9 {{page.componentVersion.prerelease}} ##
    0 {{site.components.prerelease}} ##
   </nav>

  
</header>


